.sass-cache
/docs
/site
.DS_Store
mkdocs/.vscode
mkdocs/mkdocs
src/community/news/news.html
src/doc/examples/examples.html
src/doc/manual/manual.html
src/doc/tutorials/tutorials.html
mkdocs/docs/community/news.md
