
.faust-tools {
    background-color: #F8F8F8;
    font-size: 90%
}
.faust-options {
    background-color: #F8F8F8;
    font-size: 90%;
}

.faust-logo {
    background-color: #F0F0F0;
    width: 40%;
}

.madewfaust {    width: 50%; }
