site_name: Faust Programming Language
site_description: Faust programming language website.
copyright: Copyright &copy; 2021-2024 <a href="http://www.grame.fr">Grame-CNCM</a>
faust_banner: true
nav:
    - Home: index.md
    - Documentation:
        - 'Quick Start' : https://faustdoc.grame.fr/manual/quick-start/
        - 'Faust Language' : https://faustdoc.grame.fr
        - 'Faust Libraries': https://faustlibraries.grame.fr
    - Downloads: downloads.md
    - Tools:
         - 'Faust Web IDE': https://faustide.grame.fr
         - 'Faust Playground': https://faustplayground.grame.fr
         - 'Faust Web Editor': https://fausteditor.grame.fr
    - Community:
        - 'Powered By Faust': community/powered-by-faust.md
        - 'Events': community/events.md
        - 'Getting Help': community/help.md
        - 'Reporting Bugs': community/bugs.md
        - 'Faust Conference': community/ifc.md
        - 'Learning Faust': community/learning.md
        - 'Academic Publications': community/publications.md
        - 'News up to 2018': community/news.md
        - 'Press': community/press.md
        - 'Sponsors': community/sponsors.md
        - 'Logos': community/logos.md
    - Projects:
        - 'FAST': https://fast.grame.fr
        - 'Amstramgrame': https://amstramgrame.fr/en
        - 'Progressive Web Applications': https://faustpwa.grame.fr
   
    - About: about.md

theme: 
  name: mkdocs
  custom_dir: 'theme'
  navigation_depth: 4

site_dir: ../docs

extra_css:
   - css/pubs.css

extra_javascript:
   - js/pubs.js

extra:
    social:
        - type: github
          link: https://github.com/grame-cncm/faust
        - type: home
          link: https://faust.grame.fr
        - type: envelope
          link: mailto:orlarey@grame.fr

plugins:
    - search
    - redirects:
        redirect_maps:
            'editor.md': 'https://fausteditor.grame.fr'

#extra_javascript:
#  - https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-AMS_CHTML-full

markdown_extensions:
    - markdown_include.include:
        base_path: './docs'
